@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h2 class="display-4 text-weight-300">CustomerApp</h2>
    <h5 class="display-8 text-weight-300">Em busca do aprimoramento perfeito</h5>
</div>
<p></p>
<div class="text-center">
    <img src="/images/home-logo.svg" class="img-fluid" alt="...">
</div>
